body {
    background-image:url("https://mewallpaper.com/thumbnail/movies/8589-ariana-grande-sweetener-download-free-image.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
html {
    height: 100%
}


#start {
    display: block;
}

#question1 {
    display: none;
}

#question2 {
    display: none;
}

#question3 {
    display: none;
}

#question4 {
    display: none;
}

#question5 {
    display: none;
}

#scoreInitial {
    display: none;
}

#highScore {
    display: none;
}

#scoreList {
    display: none;
}