body {
    background-image:url("https://mewallpaper.com/thumbnail/movies/8589-ariana-grande-sweetener-download-free-image.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
html {
    height: 100%
}
.button {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: rgb(145, 92, 182);
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }
  .glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  }

  .card-text {
    font-family: 'Ranchers', cursive;
  }

/* #start {
    display: block;
}

#question1 {
    display: none;
}

#question2 {
    display: none;
}

#question3 {
    display: none;
}

#question4 {
    display: none;
}

#question5 {
    display: none;
}

#scoreInitial {
    display: none;
}

#highScore {
    display: none;
}

#scoreList {
    display: none;
} */